
#navbarSupportedContent{
    margin-left: 2;
}
.carousel-inner{
    height: 650px;
}
.nav__links {
    list-style: none;

}
.nav__links li {
    display: inline-block;
    padding:  0px 20px;
}
.nav__links li a {
    
    transition: all 0.3s ease 0s;
}


.nav__links li a:hover{
    color: black;
}
header{
    display: fixed;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding:  40px 100px;
}

header .logo {
        position: relative;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        font-size:  2em;
           
        letter-spacing: 2px;
        transition: 0.6s;
    }
    header nav div ul {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    header nav div ul li{
        position: relative;
        list-style: none;
    }
    header nav div ul li a{
        position: relative;
        margin: 0 15px;
        text-decoration: none;
        color: #fff;
        letter-spacing: 2px;
        font-weight: 500px;
        transition: 0.6s;

    }
    
